* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

body {
    background: linear-gradient(120deg, #effffd 0%, #b8fff9 100%);
}

.todo-app {
    max-width: 50vw;
    min-height: 85vh;
    margin: 5vh auto;
    background: #fff;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #90e0ef, #00b4d8);
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding-bottom: 3vh;
}

h1 {
    margin: 5vh 0;
    color: #68bfd4;
    font-size: 30px;
}

.complete {
    text-decoration: line-through;
    cursor: pointer;
}

.todo-form {
    margin-bottom: 3vh;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #398ab9;
    outline: none;
    width: 38vw;
    background: transparent;
    color: #000;
}

.todo-input::placeholder {
    color: rgb(63, 61, 61);
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background: linear-gradient(45deg, #398ab9 0%, #1c658c 100%);
    color: #fff;
}

.todo-input.edit {
    border: 2px solid rgb(131, 205, 255);
}

.todo-button.edit {
    background: linear-gradient(90deg, rgb(131, 205, 255) 0%, rgb(20, 159, 255) 100%);
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5vh auto;
    color: #000;
    background: transparent;
    border: 2px solid #00b4d8;
    padding: 1.5vh 1.5vw;
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(4n + 1) {
    border: 2px solid #90e0ef;
}

.todo-row:nth-child(4n + 2) {
    border: 2px solid #caf0f8;
}

.todo-row:nth-child(4n + 3) {
    border: 2px solid #03045e;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 1vw;
    color: red;
}

.edit-icon {
    color: blue;
}
